@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-dark-bg text-dark-text;
}

/* Chessboard custom styles */
.chess-board {
  max-width: 600px;
  margin: 0 auto;
}
